.button-holder {
    margin-left: 45%;
    font-size: 24px;
}

button {
    text-align: center;
    width: 200px;
    height: 70px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}